# PYTHON BASE PROJECT

## PYTHON PARADIGMS ##

In [ ]:
Question 1: Bank Account Management
Create a Python class BankAccount with the following features:

In [ ]:
class BankAccount:
    def __init__(self, account_number, account_holder, balance=0):
        self.account_number = account_number
        self.account_holder = account_holder
        self.balance = balance
    
    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"Deposited ${amount}. Current balance: ${self.balance}")
        else:
            print("Deposit amount must be greater than zero.")
    
    def withdraw(self, amount):
        if amount > 0:
            if self.balance >= amount:
                self.balance -= amount
                print(f"Withdrew ${amount}. Current balance: ${self.balance}")
            else:
                print("Insufficient balance.")
        else:
            print("Withdrawal amount must be greater than zero.")
    
    def display_balance(self):
        print(f"Account Number: {self.account_number}")
        print(f"Account Holder: {self.account_holder}")
        print(f"Current Balance: ${self.balance}")

# Example usage:
acct1 = BankAccount("12345", "Alice")
acct1.deposit(1000)
acct1.withdraw(500)
acct1.display_balance()

In [ ]:
# Functional Programming

In [ ]:
Question 2: Mapping and Filtering
Write Python functions to perform the following operations using functional programming techniques:

In [ ]:
# Mapping example
def double_numbers(numbers):
    return list(map(lambda x: x * 2, numbers))

# Filtering example
def filter_even(numbers):
    return list(filter(lambda x: x % 2 == 0, numbers))

# Example usage:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Mapping example
doubled = double_numbers(numbers)
print("Doubled numbers:", doubled)  # Output: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Filtering example
even_numbers = filter_even(numbers)
print("Even numbers:", even_numbers)  # Output: [2, 4, 6, 8, 10]

In [ ]:
# Procedural Programming

In [ ]:
Question 3: 
Write a Python script that reads integers from a file named numbers.txt, calculates their average, and prints the result.

In [3]:
def calculate_average(filename):
    try:
        with open(filename, 'r') as file:
            numbers = file.readlines()
            # Convert lines to integers
            numbers = [int(num.strip()) for num in numbers]
            
            if len(numbers) == 0:
                print("File is empty. Cannot calculate average.")
                return
            
            # Calculate average
            average = sum(numbers) / len(numbers)
            
            print(f"Average of numbers in {filename}: {average}")
    
    except FileNotFoundError:
        print(f"File '{filename}' not found.")
    
    except ValueError as e:
        print(f"Error: {e}. Ensure all lines in the file contain valid integers.")

# Example usage:
calculate_average('numbers.txt')

File 'numbers.txt' not found.

In [ ]:
# Question 4 
Create a Python script that reads a list of words from a file, filters out words that start with a vowel (a, e, i, o, u), and prints the filtered list.

In [4]:
def filter_words(filename):
    vowels = ['a', 'e', 'i', 'o', 'u']
    filtered_words = []

    try:
        with open(filename, 'r') as file:
            words = file.read().split()
            
            # Filter out words starting with vowels
            filtered_words = [word for word in words if word[0].lower() not in vowels]
            
            print("Original list of words:")
            print(words)
            
            print("\nFiltered list (words not starting with a vowel):")
            print(filtered_words)
    
    except FileNotFoundError:
        print(f"File '{filename}' not found.")
    
    except Exception as e:
        print(f"Error occurred: {e}")

# Example usage:
filter_words('words.txt')

File 'words.txt' not found.

In [ ]:
# Question 5
Write a Python function calculate_factorial(n) using functional programming principles to calculate the factorial of a number n.

In [5]:
def calculate_factorial(n):
    if n == 0:
        return 1
    else:
        return n * calculate_factorial(n - 1)

# Test the function
num = 5
factorial = calculate_factorial(num)
print(f"The factorial of {num} is: {factorial}")

The factorial of 5 is: 120

In [ ]:
*******************************************************************************************************************

# DATA TYPES OF PYTHON ###

In [ ]:
# Question1
Write a Python script that reads a text file (data.txt) containing various types of data (integers, floats, strings) separated by commas. Analyze the data and perform the following tasks:

In [7]:
def analyze_data(filename):
    int_count = 0
    float_count = 0
    string_count = 0
    total_integers = 0
    total_floats = 0
    total_string_length = 0

    try:
        with open(filename, 'r') as file:
            data = file.read().strip().split(',')
            
            for item in data:
                item = item.strip()
                if item.isdigit():
                    int_count += 1
                    total_integers += int(item)
                elif '.' in item and all(part.isdigit() for part in item.split('.')):
                    float_count += 1
                    total_floats += float(item)
                else:
                    string_count += 1
                    total_string_length += len(item)
            
            avg_string_length = total_string_length / string_count if string_count > 0 else 0
            
            print(f"Number of integers: {int_count}")
            print(f"Number of floats: {float_count}")
            print(f"Number of strings: {string_count}")
            print(f"Sum of all integers: {total_integers}")
            print(f"Sum of all floats: {total_floats}")
            print(f"Average length of strings: {avg_string_length:.2f} characters")
    
    except FileNotFoundError:
        print(f"File '{filename}' not found.")
    
    except Exception as e:
        print(f"Error occurred: {e}")

# Example usage:
analyze_data('data.txt')

File 'data.txt' not found.

In [ ]:
#Question 2: Set Operations
Write a Python script that performs various operations on sets:
*Create two sets of integers, set1 and set2, with some common elements.
*Implement the following operations and print the results:
Union of set1 and set2.
Intersection of set1 and set2.
Difference between set1 and set2 (set1 - set2).
Symmetric difference between set1 and set2 (set1 ^ set2).
Check if set2 is a subset of set1.
Check if set1 is a superset of set2.
Add an element to set1.
Remove an element from set2.
Clear all elements from set2.

In [8]:
def set_operations():
    set1 = {1, 2, 3, 4, 5}
    set2 = {3, 4, 5, 6, 7}
    
    # Union
    union_set = set1 | set2
    print(f"Union of set1 and set2: {union_set}")
    
    # Intersection
    intersection_set = set1 & set2
    print(f"Intersection of set1 and set2: {intersection_set}")
    
    # Difference (set1 - set2)
    difference_set = set1 - set2
    print(f"Difference of set1 - set2: {difference_set}")
    
    # Symmetric Difference (set1 ^ set2)
    symmetric_difference_set = set1 ^ set2
    print(f"Symmetric Difference of set1 and set2: {symmetric_difference_set}")
    
    # Subset and Superset
    is_subset = set2.issubset(set1)
    print(f"Is set2 a subset of set1? {is_subset}")
    
    is_superset = set1.issuperset(set2)
    print(f"Is set1 a superset of set2? {is_superset}")
    
    # Add element to set1
    set1.add(6)
    print(f"After adding element to set1: {set1}")
    
    # Remove element from set2
    if 6 in set2:
        set2.remove(6)
    print(f"After removing element from set2: {set2}")
    
    # Clear set2
    set2.clear()
    print(f"After clearing set2: {set2}")

# Example usage:
set_operations()

Union of set1 and set2: {1, 2, 3, 4, 5, 6, 7}
Intersection of set1 and set2: {3, 4, 5}
Difference of set1 - set2: {1, 2}
Symmetric Difference of set1 and set2: {1, 2, 6, 7}
Is set2 a subset of set1? False
Is set1 a superset of set2? False
After adding element to set1: {1, 2, 3, 4, 5, 6}
After removing element from set2: {3, 4, 5, 7}
After clearing set2: set()

In [ ]:
# Boolean Operations:

In [ ]:
Checking Conditions:
#QUESTION 3: Write a Python function that takes two integers as input and returns True if their sum is greater than 10, otherwise False.

In [1]:
def sum_greater_than_10(a, b):
    if a + b > 10:
        return True
    else:
        return False

# Example usage:
num1 = 5
num2 = 7
result = sum_greater_than_10(num1, num2)
print(f"The sum of {num1} and {num2} is greater than 10: {result}")  # Output: The sum of 5 and 7 is greater than 10: True

num3 = 3
num4 = 4
result = sum_greater_than_10(num3, num4)
print(f"The sum of {num3} and {num4} is greater than 10: {result}")  # Output: The sum of 3 and 4 is greater than 10: False

The sum of 5 and 7 is greater than 10: True
The sum of 3 and 4 is greater than 10: False

In [ ]:
Logical Operators:
#QUESTION 4: Write a program that asks the user for their age and checks if they are eligible to vote (age >= 18) and if they have registered to vote (registered = True).

In [2]:
def check_voter_eligibility():
    age = int(input("Enter your age: "))
    registered = input("Are you registered to vote? (yes/no): ").lower() == 'yes'

    if age >= 18 and registered:
        print("You are eligible to vote!")
    else:
        print("You are not eligible to vote.")

# Example usage:
check_voter_eligibility()

Enter your age:  24
Are you registered to vote? (yes/no):  Yes

You are eligible to vote!

In [ ]:
#SET
#QUESTION 5 : Set Operations:
Write a function that takes two sets as input and returns a new set containing elements that are present in both sets.

In [3]:
def intersection_of_sets(set1, set2):
    return set1.intersection(set2)

# Example usage:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
intersection_result = intersection_of_sets(set1, set2)
print("Intersection of set1 and set2:", intersection_result)

Intersection of set1 and set2: {3, 4, 5}

In [ ]:
SET COMPREHENSION
#Question 6: Create a set comprehension that generates a set of squares of all even numbers from 1 to 10.

In [4]:
even_numbers = {x**2 for x in range(1, 11) if x % 2 == 0}

print("Set of squares of even numbers from 1 to 10:", even_numbers)

Set of squares of even numbers from 1 to 10: {64, 100, 4, 36, 16}

In [ ]:
# Question 7 : Generate a set of all possible tuples (x, y) where x is an even number between 1 to 5 and y is an odd number between 6 to 10.

In [5]:
even_odd_tuples = {(x, y) for x in range(2, 6, 2) for y in range(7, 11, 2)}
print("Set of even-odd tuples:", even_odd_tuples)

Set of even-odd tuples: {(4, 9), (2, 9), (4, 7), (2, 7)}

In [ ]:
Set Operations with Strings:
#Question 8 : Create a function that takes a string as input and returns a set of unique characters present in the string.

In [6]:
def unique_characters_in_string(s):
    return {char for char in s}

# Example usage:
input_string = "hello world"
unique_chars = unique_characters_in_string(input_string)
print("Unique characters in the string:", unique_chars)

Unique characters in the string: {'h', 'e', 'l', 'o', ' ', 'd', 'w', 'r'}

In [ ]:
Set of First N Natural Numbers:
#Question 9 : Write a set comprehension that generates a set of the first 10 natural numbers.

In [7]:
first_ten_natural_numbers = {x for x in range(1, 11)}
print("First ten natural numbers:", first_ten_natural_numbers)

First ten natural numbers: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
Set Comprehension with Nested Loops:
#Question 10 : Generate a set of all possible tuples (x, y) where x is an even number between 1 to 5 and y is an odd number between 6 to 10.

In [8]:
even_odd_tuples = {(x, y) for x in range(2, 6, 2) for y in range(7, 11, 2)}
print("Set of even-odd tuples:", even_odd_tuples)

Set of even-odd tuples: {(4, 9), (2, 9), (4, 7), (2, 7)}

In [ ]:
*******************************************************************************************************************************

# DICTIONARY

In [ ]:
#Question 1 :
Creating a Dictionary:

Write a function that creates a dictionary from two lists, one containing keys and the other containing values.

In [9]:
def create_dictionary(keys, values):
    return {keys[i]: values[i] for i in range(len(keys))}

# Example usage:
keys = ['name', 'age', 'city']
values = ['Alice', 25, 'New York']
result_dict = create_dictionary(keys, values)
print("Created dictionary:", result_dict)

Created dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [ ]:
#Question 2 : 
Dictionary Manipulation:

Write a function that takes a dictionary representing student scores and adds a new student with their score.

In [10]:
def add_student_score(student_scores, name, score):
    student_scores[name] = score
    return student_scores

# Example usage:
student_scores = {'Alice': 85, 'Bob': 90, 'Charlie': 88}
updated_scores = add_student_score(student_scores, 'David', 95)
print("Updated student scores:", updated_scores)

Updated student scores: {'Alice': 85, 'Bob': 90, 'Charlie': 88, 'David': 95}

In [ ]:
#Question 3 : 
Dictionary Comprehension:

Write a dictionary comprehension that converts a list of tuples into a dictionary where each tuple contains a student's name and their score.

In [11]:
def tuples_to_dict(tuples_list):
    return {name: score for name, score in tuples_list}

# Example usage:
students_scores = [("Alice", 85), ("Bob", 90), ("Charlie", 88)]
scores_dict = tuples_to_dict(students_scores)
print("Dictionary from tuples:", scores_dict)

Dictionary from tuples: {'Alice': 85, 'Bob': 90, 'Charlie': 88}

In [ ]:
# Question 4: 
Dictionary Operations:

Write a function that takes a dictionary of student scores and calculates the average score.

In [12]:
def average_score(student_scores):
    total_score = sum(student_scores.values())
    return total_score / len(student_scores)

# Example usage:
student_scores = {'Alice': 85, 'Bob': 90, 'Charlie': 88}
avg = average_score(student_scores)
print("Average score:", avg)

Average score: 87.66666666666667

In [ ]:
#Question 5 :
Nested Dictionary Operations:

Write a function that takes a nested dictionary representing student grades by subject and calculates the average grade for each student.

In [13]:
def average_grades_by_student(grades_dict):
    avg_grades = {}
    for student, subjects in grades_dict.items():
        total_grade = sum(subjects.values())
        avg_grades[student] = total_grade / len(subjects)
    return avg_grades

# Example usage:
student_grades = {
    'Alice': {'Math': 85, 'Science': 90, 'History': 88},
    'Bob': {'Math': 90, 'Science': 92, 'History': 87}
}
avg_grades = average_grades_by_student(student_grades)
print("Average grades by student:", avg_grades)

Average grades by student: {'Alice': 87.66666666666667, 'Bob': 89.66666666666667}

In [ ]:
#Question 6 : 
STUDENT DATABASE

Create a program that stores student names and their corresponding ages in a dictionary. Allow the user to add new students and update existing student information.

In [14]:
def student_database():
    students = {}
    while True:
        print("\n1. Add a student")
        print("2. Update student information")
        print("3. Print all students")
        print("4. Exit")
        choice = input("Enter your choice (1-4): ")

        if choice == '1':
            name = input("Enter student name: ")
            age = int(input("Enter student age: "))
            students[name] = age
            print("Student added successfully!")

        elif choice == '2':
            name = input("Enter student name to update: ")
            if name in students:
                age = int(input("Enter updated age: "))
                students[name] = age
                print("Student information updated successfully!")
            else:
                print("Student not found!")

        elif choice == '3':
            print("\nList of students:")
            for name, age in students.items():
                print(f"{name}: {age}")

        elif choice == '4':
            print("Exiting program...")
            break

        else:
            print("Invalid choice! Please enter a number between 1 to 4.")

# Example usage:
student_database()

1. Add a student
2. Update student information
3. Print all students
4. Exit

Enter your choice (1-4):  2
Enter student name to update:  Zaid

Student not found!

1. Add a student
2. Update student information
3. Print all students
4. Exit

Enter your choice (1-4):  3

List of students:

1. Add a student
2. Update student information
3. Print all students
4. Exit

Enter your choice (1-4):  4

Exiting program...

In [ ]:
******************************************************************************************************************************

## Basic String Manipulation ##

In [ ]:
# Question 1 : 
Reverse a String:

Write a function that takes a string as input and returns the reversed version of the string.

In [15]:
def reverse_string(s):
    return s[::-1]

# Example usage:
input_string = "hello world"
reversed_string = reverse_string(input_string)
print("Reversed string:", reversed_string)

Reversed string: dlrow olleh

In [ ]:
#Question 2 : 
Count Vowels in a String:

Write a function that counts the number of vowels (a, e, i, o, u) in a given string.

In [16]:
def count_vowels(s):
    vowels = "aeiou"
    count = 0
    for char in s.lower():
        if char in vowels:
            count += 1
    return count

# Example usage:
input_string = "Python Programming"
vowel_count = count_vowels(input_string)
print("Number of vowels:", vowel_count)

Number of vowels: 4

In [ ]:
String Parsing and Formatting:
#Question 3:

Write a function that extracts and returns the domain name (e.g., "example.com") from an email address.

In [17]:
def extract_email_domain(email):
    return email.split('@')[-1]

# Example usage:
email_address = "john.doe@example.com"
domain = extract_email_domain(email_address)
print("Domain:", domain)

Domain: example.com

In [ ]:
# Question 4 :
Title Case Conversion:

Write a function that converts the first letter of each word in a sentence to uppercase and the rest to lowercase.

In [18]:
def title_case(sentence):
    return ' '.join(word.capitalize() for word in sentence.split())

# Example usage:
input_sentence = "python programming is fun"
titlecased_sentence = title_case(input_sentence)
print("Titlecased sentence:", titlecased_sentence)

Titlecased sentence: Python Programming Is Fun

In [ ]:
Advanced String Operations:
#Question 5 :

Write a function that checks if a given string is a palindrome (reads the same backward as forward).

In [19]:
def is_palindrome(s):
    return s == s[::-1]

# Example usage:
palindrome_string = "radar"
non_palindrome_string = "hello"
print(f"{palindrome_string} is a palindrome:", is_palindrome(palindrome_string))
print(f"{non_palindrome_string} is a palindrome:", is_palindrome(non_palindrome_string))

radar is a palindrome: True
hello is a palindrome: False

In [ ]:
#Question 6:
String Compression:

Write a function that performs basic string compression using counts of repeated characters.

In [20]:
def compress_string(s):
    compressed = ""
    count = 1
    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed += s[i - 1] + str(count)
            count = 1
    compressed += s[-1] + str(count)
    return compressed if len(compressed) < len(s) else s

# Example usage:
input_string = "aabbbccdddd"
compressed_string = compress_string(input_string)
print("Compressed string:", compressed_string)

Compressed string: a2b3c2d4

## LIST ##

In [ ]:
Basic List Operations:
#Question 1:
Write a function that takes a list as input and returns the reversed version of the list.

In [21]:
def reverse_list(lst):
    return lst[::-1]

# Example usage:
input_list = [1, 2, 3, 4, 5]
reversed_list = reverse_list(input_list)
print("Reversed list:", reversed_list)

Reversed list: [5, 4, 3, 2, 1]

In [ ]:
# Question 2:
Sum of Even Numbers:
Write a function that calculates the sum of all even numbers in a given list.

In [22]:
def sum_even_numbers(lst):
    return sum(num for num in lst if num % 2 == 0)

# Example usage:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_sum = sum_even_numbers(numbers)
print("Sum of even numbers:", even_sum)

Sum of even numbers: 30

In [ ]:
#Question 3:
List Comprehensions:
Write a list comprehension that generates a list of squares of numbers from 1 to 10.

In [23]:
squares = [x**2 for x in range(1, 11)]
print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#Question 4:
Write a list comprehension that filters out negative numbers from a list.

In [24]:
numbers = [-1, 2, -3, 4, -5, 6, -7, 8, -9, 10]
positive_numbers = [num for num in numbers if num > 0]
print("Positive numbers:", positive_numbers)

Positive numbers: [2, 4, 6, 8, 10]

In [ ]:
#Question 5:
Advanced List Operations:
Write a function that merges two lists, removes duplicates, and sorts the resulting list.

In [25]:
def merge_and_sort_lists(list1, list2):
    merged_list = list(set(list1 + list2))
    merged_list.sort()
    return merged_list

# Example usage:
list1 = [1, 3, 5, 7, 9]
list2 = [2, 4, 6, 8, 10]
merged_and_sorted = merge_and_sort_lists(list1, list2)
print("Merged and sorted list:", merged_and_sorted)

Merged and sorted list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Question 6 :
Write a function that takes a list of words and a minimum length and returns a list of words longer than that length.

In [26]:
def filter_long_words(words, min_length):
    return [word for word in words if len(word) > min_length]

# Example usage:
words = ["apple", "banana", "orange", "grape", "kiwi"]
min_length = 5
long_words = filter_long_words(words, min_length)
print(f"Words longer than {min_length} characters:", long_words)

Words longer than 5 characters: ['banana', 'orange']

In [ ]:
********************************************************************************************************************************

## TUPLE ##

In [ ]:
Basic Tuple Operations:

#Question 1:
Write a function that prints each element of a tuple

In [27]:
def print_tuple_elements(tup):
    for element in tup:
        print(element)

# Example usage:
my_tuple = (1, 2, 3, 4, 5)
print("Elements of the tuple:")
print_tuple_elements(my_tuple)

Elements of the tuple:
1
2
3
4
5

In [ ]:
#Question 2:
Demonstrate tuple packing and unpacking in a function that takes multiple arguments and returns them as a tuple.

In [28]:
def pack_and_unpack(*args):
    return args

# Example usage:
packed_tuple = pack_and_unpack(1, 'apple', True)
print("Packed tuple:", packed_tuple)

# Unpacking tuple elements
num, fruit, flag = packed_tuple
print("Unpacked values:", num, fruit, flag)

Packed tuple: (1, 'apple', True)
Unpacked values: 1 apple True

In [ ]:
#Question 3:
Write a tuple comprehension that generates a tuple of squares of numbers from 1 to 5.

In [29]:
squares_tuple = tuple(x**2 for x in range(1, 6))
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

In [ ]:
#Question 4:
Advanced Tuple Operations:
Write a function that concatenates two tuples and returns a new tuple.

In [30]:
def concatenate_tuples(tup1, tup2):
    return tup1 + tup2

# Example usage:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')
concatenated_tuple = concatenate_tuples(tuple1, tuple2)
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 'a', 'b', 'c')

In [ ]:
#Question 5:
Tuple Operations with Strings:
Write a function that takes a string and returns a tuple containing the string itself, its length, and its uppercase version.

In [31]:
def string_operations(s):
    return (s, len(s), s.upper())

# Example usage:
input_string = "hello"
result_tuple = string_operations(input_string)
print("Tuple with string operations:", result_tuple)

Tuple with string operations: ('hello', 5, 'HELLO')

In [ ]:
#Question 6 :
Write a function that uses a tuple as keys in a dictionary to store and retrieve student grades by subject.

In [32]:
def student_grades():
    grades = {}
    grades[('Alice', 'Math')] = 85
    grades[('Bob', 'Math')] = 90
    grades[('Alice', 'Science')] = 88
    grades[('Bob', 'Science')] = 92
    
    return grades

# Example usage:
student_grades_dict = student_grades()
print("Student grades dictionary:")
for (student, subject), grade in student_grades_dict.items():
    print(f"{student} - {subject}: {grade}")

Student grades dictionary:
Alice - Math: 85
Bob - Math: 90
Alice - Science: 88
Bob - Science: 92

In [ ]:
*******************************************************************************************************************************

## MUTABLE AND IMMUTABLE ############

In [ ]:
#Question 1 :
Mutable:
Write a function that modifies a list in-place by appending an element to it.

In [33]:
def append_to_list(lst, element):
    lst.append(element)

# Example usage:
my_list = [1, 2, 3]
append_to_list(my_list, 4)
print("Modified list:", my_list)

Modified list: [1, 2, 3, 4]

In [ ]:
#Question 2:
Write a function that updates a dictionary by adding a new key-value pair.

In [34]:
def add_to_dictionary(d, key, value):
    d[key] = value

# Example usage:
my_dict = {'a': 1, 'b': 2}
add_to_dictionary(my_dict, 'c', 3)
print("Modified dictionary:", my_dict)

Modified dictionary: {'a': 1, 'b': 2, 'c': 3}

In [ ]:
#Question 3:
Immutable:
Demonstrate how modifying a string creates a new string object.

In [35]:
def modify_string(s):
    s = s + " world"
    return s

# Example usage:
original_string = "hello"
modified_string = modify_string(original_string)
print("Original string:", original_string)
print("Modified string:", modified_string)

Original string: hello
Modified string: hello world

In [ ]:
#Question 4:
Show how attempting to modify a tuple raises an error.

In [36]:
def modify_tuple(tup, index, value):
    try:
        tup[index] = value
    except TypeError as e:
        print("TypeError:", e)

# Example usage:
my_tuple = (1, 2, 3)
modify_tuple(my_tuple, 1, 5)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Question 5:
Write a function that modifies a list passed as an argument and observe its effect.

In [37]:
def modify_list(lst):
    lst.append(4)
    lst[0] = 'modified'

# Example usage:
my_list = [1, 2, 3]
modify_list(my_list)
print("Modified list:", my_list)

Modified list: ['modified', 2, 3, 4]

In [ ]:
********************************************************************************************************************************

## USEFUL FUNCTIONS IN PYTHON ##

In [ ]:
#Question 1:
Using id Function
Write a program that demonstrates the use of the id function to show memory addresses of variables.

In [38]:
def demonstrate_id_function():
    x = 10
    y = "hello"
    z = [1, 2, 3]

    print("Memory address of x:", id(x))
    print("Memory address of y:", id(y))
    print("Memory address of z:", id(z))

# Example usage:
demonstrate_id_function()

Memory address of x: 140705891402824
Memory address of y: 2297618593328
Memory address of z: 2297623423168

In [ ]:
#Question 2 :
Using input Function:
Write a program that prompts the user to enter their name and age, then prints a personalized greeting.

In [39]:
def greet_user():
    name = input("Enter your name: ")
    age = int(input("Enter your age: "))
    print(f"Hello, {name}! You are {age} years old.")

# Example usage:
greet_user()

Enter your name:  Ritu
Enter your age:  24

Hello, Ritu ! You are 24 years old.

In [ ]:
#Question 3 :
Using print Function:
Write a program that prints formatted output using the print function.

In [40]:
def formatted_output():
    item = "book"
    price = 29.99
    quantity = 3

    print(f"You bought {quantity} {item}s for ${price:.2f} each.")
    total_cost = price * quantity
    print(f"Total cost: ${total_cost:.2f}")

# Example usage:
formatted_output()

You bought 3 books for $29.99 each.
Total cost: $89.97

In [ ]:
#Question 4:
Using type Function:
Write a function that checks the type of a given input and performs operations based on the type.

In [41]:
def process_input(data):
    data_type = type(data)

    if data_type == int:
        print(f"{data} is an integer.")
        print(f"Square of {data}: {data**2}")
    elif data_type == float:
        print(f"{data} is a float.")
        print(f"Cube root of {data}: {data**(1/3):.2f}")
    elif data_type == str:
        print(f"{data} is a string.")
        print(f"Length of '{data}': {len(data)}")
    else:
        print(f"Unknown type: {data_type}")

# Example usage:
process_input(10)
process_input(3.14)
process_input("hello")

10 is an integer.
Square of 10: 100
3.14 is a float.
Cube root of 3.14: 1.46
hello is a string.
Length of 'hello': 5

In [ ]:
#Question 5:
Write a function that takes a list of numbers and prints each number along with its square.

In [42]:
def print_numbers_and_squares(numbers):
    for num in numbers:
        print(f"Number: {num} | Square: {num**2}")

# Example usage:
numbers_list = [1, 2, 3, 4, 5]
print_numbers_and_squares(numbers_list)

Number: 1 | Square: 1
Number: 2 | Square: 4
Number: 3 | Square: 9
Number: 4 | Square: 16
Number: 5 | Square: 25

In [ ]:
#Question 6:
Write a program that prompts the user to enter a number and determines if it is an integer or a float.

In [43]:
def check_number_type(data):
    if isinstance(data, int):
        print(f"{data} is an integer.")
    elif isinstance(data, float):
        print(f"{data} is a float.")
    else:
        print(f"{data} is neither an integer nor a float.")

# Example usage:
number = input("Enter a number: ")
try:
    number = eval(number)
    check_number_type(number)
except (NameError, SyntaxError):
    print("Invalid input. Please enter a valid number.")

Enter a number:  5

5 is an integer.

In [ ]:
#Question 7:
Write a function that dynamically generates and prints a message based on user input.

In [44]:
def generate_and_print_message(name, age):
    if age < 18:
        print(f"Hello, {name}! You are {age} years old. You are underage.")
    else:
        print(f"Hello, {name}! You are {age} years old. You are of legal age.")

# Example usage:
user_name = input("Enter your name: ")
user_age = int(input("Enter your age: "))
generate_and_print_message(user_name, user_age)

Enter your name:  Ritu
Enter your age:  24

Hello, Ritu! You are 24 years old. You are of legal age.

In [ ]:
********************************************************************************************************************************

## NESTED LOOPING OPERATION ##

In [ ]:
#Question 1:
Write a program that generates and prints a multiplication table using nested loops.

In [45]:
def multiplication_table():
    for i in range(1, 11):
        for j in range(1, 11):
            print(f"{i} * {j} = {i * j}")
        print()  # Print an empty line after each row

# Example usage:
multiplication_table()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
#Question 2:
Write a program that prints a pattern using nested loops.

In [46]:
def print_pattern(rows):
    for i in range(1, rows + 1):
        for j in range(1, i + 1):
            print("*", end=" ")
        print()

# Example usage:
print_pattern(5)

*
* *
* * *
* * * *
* * * * *

In [ ]:
#Question 3:
Write a program that iterates through a nested list and prints each element.

In [47]:
def process_nested_list(nested_list):
    for sublist in nested_list:
        for item in sublist:
            print(item, end=" ")
        print()  # Move to the next line after each sublist

# Example usage:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
process_nested_list(matrix)

1 2 3
4 5 6
7 8 9

In [ ]:
#Question 4:
Write a program that finds and prints all prime numbers up to a given number using nested loops.

In [50]:
def find_prime_numbers(limit):
    prime_numbers = []
    for num in range(2, limit + 1):
        is_prime = True
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            prime_numbers.append(num)
    return prime_numbers

# Example usage:
limit = 20
primes = find_prime_numbers(limit)
print(f"Prime numbers up to {limit}:")
print(primes)

Prime numbers up to 20:
[2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
#Question 5:
Write a program that generates all possible combinations of two lists using nested loops.

In [51]:
def generate_combinations(list1, list2):
    combinations = []
    for item1 in list1:
        for item2 in list2:
            combinations.append((item1, item2))
    return combinations

# Example usage:
fruits = ['apple', 'banana', 'cherry']
colors = ['red', 'yellow', 'blue']
combinations = generate_combinations(fruits, colors)
print("All possible combinations of fruits and colors:")
for combo in combinations:
    print(combo)

All possible combinations of fruits and colors:
('apple', 'red')
('apple', 'yellow')
('apple', 'blue')
('banana', 'red')
('banana', 'yellow')
('banana', 'blue')
('cherry', 'red')
('cherry', 'yellow')
('cherry', 'blue')

In [ ]:
********************************************************************************************************************************

## IDENTITY OPERATORS ##

In [ ]:
#Question 1:
Checking Object Identity:

In [52]:
def check_identity(a, b):
    if a is b:
        return "a and b are the same object"
    else:
        return "a and b are different objects"

# Example usage:
x = [1, 2, 3]
y = x
z = [1, 2, 3]

result1 = check_identity(x, y)
result2 = check_identity(x, z)

print(f"Result 1: {result1}")
print(f"Result 2: {result2}")

Result 1: a and b are the same object
Result 2: a and b are different objects

In [ ]:
#Question 2:
Checking None Identity:

In [53]:
def check_none_identity(value):
    if value is None:
        return "value is None"
    else:
        return "value is not None"

# Example usage:
result1 = check_none_identity(None)
result2 = check_none_identity(0)

print(f"Result 1: {result1}")
print(f"Result 2: {result2}")

Result 1: value is None
Result 2: value is not None

In [ ]:
#Question 3:
Comparing Immutable Objects:

In [54]:
def compare_immutable_objects(a, b):
    if a is b:
        return "a and b are identical"
    elif a == b:
        return "a and b have the same value but are different objects"
    else:
        return "a and b are different"

# Example usage:
a = 10
b = 10
c = 20

result1 = compare_immutable_objects(a, b)
result2 = compare_immutable_objects(a, c)

print(f"Result 1: {result1}")
print(f"Result 2: {result2}")

Result 1: a and b are identical
Result 2: a and b are different

## MEMBERSHIP OPERATORS ##

In [ ]:
#Question 4:
Checking Membership in Dictionaries:

In [55]:
def check_key_in_dict(dictionary, key):
    if key in dictionary:
        return f"'{key}' is a key in the dictionary"
    else:
        return f"'{key}' is not a key in the dictionary"

# Example usage:
person = {'name': 'Alice', 'age': 30, 'city': 'New York'}
result1 = check_key_in_dict(person, 'age')
result2 = check_key_in_dict(person, 'gender')

print(result1)
print(result2)

'age' is a key in the dictionary
'gender' is not a key in the dictionary

In [ ]:
#Question 5:
Membership with Iterables:

In [56]:
def find_item_in_iterable(iterable, item):
    if item in iterable:
        return f"{item} found in the iterable"
    else:
        return f"{item} not found in the iterable"

# Example usage:
sentence = "Python is a powerful programming language"
result1 = find_item_in_iterable(sentence.split(), "Python")
result2 = find_item_in_iterable(sentence.split(), "Java")

print(result1)
print(result2)

Python found in the iterable
Java not found in the iterable

In [ ]:
********************************************************************************************************************************

## INDEXING ##

In [ ]:
#Question 1:
Given the list numbers = [10, 20, 30, 40, 50], write Python code to print the first element of the list using indexing.

In [57]:
numbers = [10, 20, 30, 40, 50]
first_element = numbers[0]
print(f"The first element of the list is: {first_element}")

The first element of the list is: 10

In [ ]:
#Question 2:
Create a function get_middle_element that takes a list as input and returns the middle element. If the list has an even number of elements, return the second element from the middle.

In [58]:
def get_middle_element(input_list):
    middle_index = len(input_list) // 2
    if len(input_list) % 2 == 1:
        return input_list[middle_index]
    else:
        return input_list[middle_index - 1]

# Example usage:
numbers = [10, 20, 30, 40]
result = get_middle_element(numbers)
print(f"The middle element(s) is/are: {result}")

The middle element(s) is/are: 20

In [ ]:
#Question 3:
Given the string sentence = "Python programming is fun!", extract and print the substring 'programming' using slicing.

In [59]:
sentence = "Python programming is fun!"
substring = sentence[7:18]
print(f"The substring 'programming' is: {substring}")

The substring 'programming' is: programming

In [ ]:
#Question 4:
Write a function find_element that takes a list and an element as input, and returns the index of the first occurrence of the element in the list. If the element is not found, return -1.

In [60]:
def find_element(input_list, element):
    try:
        index = input_list.index(element)
        return index
    except ValueError:
        return -1

# Example usage:
numbers = [10, 20, 30, 40, 50]
target = 30
result = find_element(numbers, target)
if result != -1:
    print(f"The index of {target} in the list is: {result}")
else:
    print(f"{target} is not found in the list.")

The index of 30 in the list is: 2

In [ ]:
#Question 5:
Given the nested list matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], print the element at the position (2, 1).

In [61]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
element = matrix[2][1]
print(f"The element at position (2, 1) is: {element}")

The element at position (2, 1) is: 8

In [ ]:
*****************************************************************************************************************************************************

## SLICING ###

In [ ]:
#Question 1:
Given the list numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], slice the list to extract elements from index 2 to index 6 inclusive.

In [62]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sliced_list = numbers[2:7]
print(f"The sliced list is: {sliced_list}")

The sliced list is: [3, 4, 5, 6, 7]

In [ ]:
#Question 2 :
Create a function get_last_n_elements that takes a list and an integer n as input, and returns the last n elements of the list.

In [63]:
def get_last_n_elements(input_list, n):
    return input_list[-n:]

# Example usage:
numbers = [10, 20, 30, 40, 50, 60]
result = get_last_n_elements(numbers, 3)
print(f"The last 3 elements are: {result}")

The last 3 elements are: [40, 50, 60]

In [ ]:
#Question 3 :
Given the string text = "Python is awesome!", slice the string to extract the substring 'is awesome'.

In [64]:
text = "Python is awesome!"
substring = text[7:]
print(f"The sliced substring is: {substring}")

The sliced substring is: is awesome!

In [ ]:
#Question 4:
Write a function get_even_indices that takes a list as input and returns a new list containing elements at even indices.

In [65]:
def get_even_indices(input_list):
    return input_list[::2]

# Example usage:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = get_even_indices(numbers)
print(f"Elements at even indices are: {result}")

Elements at even indices are: [1, 3, 5, 7, 9]

In [ ]:
#Question 5:
Given the nested list matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], slice the list to extract the middle row [4, 5, 6].

In [66]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
middle_row = matrix[1]
print(f"The middle row is: {middle_row}")

The middle row is: [4, 5, 6]

In [ ]:
***************************************************************************************************************************************************

## UDF ####

In [ ]:
#Question 1: 
.You have to take a string as an input and crate a UDF to get a reversed string. 
# 'Elephant' 'tnahpelE'

In [70]:
 string = input('Enter a string : ')


 def str_rev (data):

    return data[::-1]

 reverse = str_rev(string)

 print ('The Reverse String is ', reverse)

Enter a string :  Elephant

The Reverse String is  tnahpelE

In [ ]:
#Question 2
Write a function find_max that takes three numbers as arguments and returns the maximum of the three.

In [75]:
def calculate_average(numbers):
    if not numbers:
        return 0  # Handle case where list is empty
    return sum(numbers) / len(numbers)

# Example usage:
numbers = [10, 20, 30, 40, 50]
average = calculate_average(numbers)
print(f"The average of the numbers is: {average}")

The average of the numbers is: 30.0

In [ ]:
#Question 3:
Write a function reverse_string that takes a string as input and returns the reverse of the string.

In [76]:
def reverse_string(input_string):
    return input_string[::-1]

# Example usage:
text = "Python"
reversed_text = reverse_string(text)
print(f"The reversed string is: {reversed_text}")

The reversed string is: nohtyP

In [ ]:
#Question 4:
Create a function count_vowels that takes a string as input and returns the number of vowels (a, e, i, o, u) in the string.

In [77]:
def count_vowels(input_string):
    vowels = "aeiouAEIOU"
    return sum(1 for char in input_string if char in vowels)

# Example usage:
text = "Hello, World!"
vowel_count = count_vowels(text)
print(f"The number of vowels in the text is: {vowel_count}")

The number of vowels in the text is: 3

In [ ]:
#Question 5:
Write a function check_palindrome that takes a string as input and returns True if the string is a palindrome (reads the same forwards and backwards), otherwise False.

In [78]:
def check_palindrome(input_string):
    return input_string == input_string[::-1]

# Example usage:
text1 = "radar"
text2 = "python"
result1 = check_palindrome(text1)
result2 = check_palindrome(text2)
print(f"Is '{text1}' a palindrome? {result1}")
print(f"Is '{text2}' a palindrome? {result2}")

Is 'radar' a palindrome? True
Is 'python' a palindrome? False

In [ ]:
*******************************************************************************************************************************************************

## LAMBDA FUNCTION#####

In [ ]:
#Question 1 :
Write a lambda function to calculate the square of a number.

In [79]:
square = lambda x: x ** 2

# Example usage:
num = 5
result = square(num)
print(f"The square of {num} is: {result}")

The square of 5 is: 25

In [ ]:
#Question 2:
Write a lambda function to check if a given number is even.

In [80]:
is_even = lambda x: x % 2 == 0

# Example usage:
num1 = 10
num2 = 15
result1 = is_even(num1)
result2 = is_even(num2)
print(f"{num1} is even? {result1}")
print(f"{num2} is even? {result2}")

10 is even? True
15 is even? False

In [ ]:
#Question 3:
Use a lambda function with filter() to filter out even numbers from a list.

In [81]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

print("Even numbers:")
print(even_numbers)

Even numbers:
[2, 4, 6, 8, 10]

In [ ]:
#Question 4
Write a lambda function to sort a list of tuples based on the second element of each tuple.

In [82]:
tuples_list = [(1, 5), (3, 2), (2, 8), (4, 1)]
sorted_tuples = sorted(tuples_list, key=lambda x: x[1])

print("Sorted tuples based on the second element:")
print(sorted_tuples)

Sorted tuples based on the second element:
[(4, 1), (3, 2), (1, 5), (2, 8)]

In [ ]:
#Question 5
Use a lambda function with map() to convert a list of strings to uppercase.

In [83]:
words = ["apple", "banana", "cherry"]
uppercase_words = list(map(lambda x: x.upper(), words))

print("Uppercase words:")
print(uppercase_words)

Uppercase words:
['APPLE', 'BANANA', 'CHERRY']

In [ ]:
#Question 6:
Write a lambda function to check if a given string starts with a vowel.

In [84]:
starts_with_vowel = lambda x: x[0].lower() in 'aeiou'

# Example usage:
word1 = "Apple"
word2 = "Orange"
result1 = starts_with_vowel(word1)
result2 = starts_with_vowel(word2)
print(f"Does '{word1}' start with a vowel? {result1}")
print(f"Does '{word2}' start with a vowel? {result2}")

Does 'Apple' start with a vowel? True
Does 'Orange' start with a vowel? True

In [ ]:
#Question 7
Use a lambda function with sorted() to sort a list of strings based on their lengths.

In [85]:
words = ["pear", "orange", "banana", "apple"]
sorted_words_by_length = sorted(words, key=lambda x: len(x))

print("Sorted words by length:")
print(sorted_words_by_length)

Sorted words by length:
['pear', 'apple', 'orange', 'banana']

In [ ]:
#Question 8
Write a lambda function to extract the last word from a sentence.

In [86]:
extract_last_word = lambda sentence: sentence.split()[-1]

# Example usage:
text = "Python is an amazing language"
last_word = extract_last_word(text)
print(f"The last word in the sentence is: {last_word}")

The last word in the sentence is: language

In [ ]:
*******************************************************************************************************************************************************

                       ##### THE END #####